<p style="color: green"><%= notice %></p>

<h1 class="title">Posts index</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
<div id='mcs spacer' style="height: 10px;"></div>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class:"button is-primary" %>
